.kaxon-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	height: 300px;
	z-index: 10000000;
	margin-block-start: 40px;
	border-radius: 5px;

	transition: 100ms ease-in-out;
	transition-property: opacity, translate;
}

.kaxon-overlay.hide {
	opacity: 0;
	translate: 20px;
	transition: 80ms ease-in-out;
	transition-property: opacity, translate;
}

.kaxon-overlay-inner {
	background-color: lightpink;
	color: black;
	height: 100%;
	padding: 10px;
}

.kaxon-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
